@import '@styles/variables.scss';
.container {
  background-color: $primary-white;
  height: 80px;
  width: 100%;
  padding-left: 1rem;
  position: relative;
  z-index: 2;
  i {
    color: $primary-color;
    font-size: 24px;
  }
  .dropdown {
    position: relative;
    margin-right: 2rem;
    cursor: pointer;
    ul {
      background-color: $primary-white;
      padding: 1rem;
      text-decoration: none;
      position: absolute;
      left: -20px;
      border-radius: 10px;
      color: $primary-color;
      li {
        list-style: none;
        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

.inactive {
  color: $primary-color;
}
.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 40px;
}
