@import '@styles/variables.scss';
.container {
  min-height: 100vh;
  margin-top: 1rem;
  position: relative;
  z-index: 0;
  margin-top: 8rem;
  padding: 0 2rem;
  background-color: $primary-white;
  .blogContainer {
    padding-bottom: 2rem;
    position: relative;
  }
  h1 {
    margin: 10rem auto 3rem auto;
    width: 95%;
  }
  .dateTag {
    right: 20px;
  }
  .content {
    width: 90%;
    margin: 1rem auto;
    margin-bottom: 4rem;
    img {
      margin: 1rem auto;
      max-width: 700px;
      height: auto;
      object-fit: contain;
    }
    p {
      margin: 1rem auto;
    }
    h2 {
      margin: 2rem auto;
    }
    a {
      color: rgb(71, 88, 221);
    }
  }
  .reference {
    width: 90%;
    margin: 1.5rem auto;
    margin-top: 3rem;
    li {
      margin: 10px 0;
    }
    a {
      color: rgb(71, 88, 221);
    }
  }
}
