@import '@styles/variables.scss';
.container {
  padding: 0 2rem;
  background-color: $primary-white;
}

.main {
  min-height: 100vh;
  width: 85%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;

  .hello {
    width: 50%;
    // background-color: $primary-color;
    position: absolute;

    right: 0%;
    padding: 1rem;
    color: $primary-color;
    h1 {
      font-size: 68px;
      // -webkit-text-stroke: 2px #a4a5aa;
    }
    h3 {
      font-size: 48px;
      color: $primary-gold;
      // -webkit-text-stroke: 2px #a4a5aa;
    }
    h5 {
      font-size: 40px;
      font-family: Microsoft JhengHei;
      color: black;
    }
  }
  .code {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: rotate(-10deg);
  }

  .image {
    z-index: -1;
    position: relative;
    .back {
      position: absolute;
      transform: translateX(-25%);
      width: 550px;
      height: 500px;
      border-radius: 10px;
      background-color: #cab09b;
      // background-image: url('../public/images/code.png');
    }
    img {
      transform: translateY(10%);
    }
  }
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
