.container {
  padding: 0 2rem;
  background-color: #a4a5aa;
}

.main {
  min-height: 100vh;
  width: 80%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;

  .hello {
    width: 50%;
    background-color: #33006e;
    position: absolute;
    right: 2%;
    padding: 1rem;
    color: #ffffff;
    h1 {
      font-size: 68px;
      -webkit-text-stroke: 2px #a4a5aa;
    }
    h2 {
      font-size: 48px;
      -webkit-text-stroke: 2px #a4a5aa;
    }
    h3 {
      font-size: 40px;
      font-family: Microsoft JhengHei;
    }
  }
  .code {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: rotate(-10deg);
  }
  .baseball {
    position: absolute;
    bottom: 30%;
    right: 7%;
    transform: rotate(20deg);
  }

  .image {
    z-index: -1;
    position: relative;
    .back {
      position: absolute;
      transform: translateX(-25%);
      width: 550px;
      height: 500px;
      border-radius: 10px;
      background-color: #cab09b;
      // background-image: url('../public/images/code.png');
    }
    img {
      transform: translateY(10%);
    }
  }
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
